.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  text-align: start;
}
.App-wrapper {
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 5%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0% 10% 0% 10%;
}
.Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.Navigation-item {
  margin-right: 10px;
}

.Navigation-item a {
  color: #fff;
  text-decoration: none;
}

.Navigation-item a:hover {
  text-decoration: underline;
  color: #7f7f7f;
}

.Navigation-item a:active {
  color: #4d4848;
  text-decoration: underline;
}

.Company-title {
  color: #fff;
  margin-right:auto;
  margin-left:10px;
}
.Admin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Course-form, .Teacher-form {
  width: 50%;
}

.Course-form-inputs, .Teacher-form-inputs{
  display: flex;
  flex-direction: column;
}

.Course-form-submit, .Teacher-form-submit {
  margin-top: 10px;
}

@media (max-width: 600px) {
.App-wrapper{
  margin: 0;
  padding: 0;

}
.Teacher-box{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}
}

a {
color: rgb(230, 0, 255);
margin: 2px;
}